.single-product {
  padding: 8px;
  max-width: 1152px;
  display: grid;
  margin-top: 2.5rem;
  margin-left: 1.25rem;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media (min-width: 475px) {
  .single-product {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 640px) {
  .single-product {
    grid-template-columns: "repeat(2, minmax(0, 1fr))";
  }
}
@media (min-width: 960px) {
  .single-product {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1440px) {
  .single-product {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
