nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}
.nav-Link{
  color: rgb(237, 241, 247);
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: 600;
  margin-left: 24px;
 
  
}
.item-number {
  height: 1.25rem;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #38a169;
  width: 1.25rem;
  display: flex;
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  font-size: 12px;
  line-height: 16px;
  border-radius: 9999px;
}
